body{
    background-color: rgba(134, 41, 221, 0.794);
    display:flex;
    justify-content: center;
    text-align: center;
    height: 70vh;
    font-weight: bold;
    
}
.container{
    position: absolute;     
    display: flex; 
    justify-content: center;    
    /* top: 50%; */
    font-size:50px;
    height: auto;
    margin-top: 20%;
}
.digit{
 
    color: white;
    font-size: 150px;
}
.button{
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 0;
    
}
